<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="team.dhruva.Reporting" />
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
           <class name="team.dhruva.testcases.LoginTests"/>

          <class name="team.dhruva.testcases.SMTests"/> 

          
    <!--     
          <class name="team.dhruva.testcases.TasksGroupnProjectTests"/>
          <class name="team.dhruva.testcases.DashboardTests"/> 
          <class name="team.dhruva.testcases.SMTests"/> 
          <class name="team.dhruva.testcases.WOTests"/>
          <class name="team.dhruva.testcases.PurshaseTests"/>
          <class name="team.dhruva.testcases.ReportTests"/>
          <class name="team.dhruva.testcases.AuditTrailTests"/>
          <class name="team.dhruva.testcases.AssetTests"/>
          <class name="team.dhruva.testcases.SuppliesTests"/>
          
          
          
           -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 